
body{
    text-align: center;
    background-image: url("https://mediacloud.theweek.com/image/private/s--X-WVjvBW--/f_auto,t_content-image-full-desktop@1/v1608614622/p4pf7m.jpg");
    color: black;
    background-size: cover;
}
button{
    border-radius: 5px;
    background-color: #000000;
    color: white;
    width: 250px;
    height: 40px;
}